body {
    border: #c0c0c0;
    border-style: none solid none solid;
    box-shadow: 1px 1px 12px grey;
    display: flex;
    flex-flow: column;
    max-width: 800px;
    margin: auto;
}

h1, h3 {
    text-align: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex-container>.flex-item {
    -webkit-flex: auto;
    flex: auto;
}

.flex-container>.raw-item {
    width: 30rem;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 260px;
    margin: auto;
}

img {
    max-width: 260px;
    max-height: 260px;
    margin: auto;
}
.footer-logo{
    height:28 px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
footer, .name{
    background-color: #e1e1e143;
}
code{
    text-align: center;
    margin: auto;
}
@media (max-width: 767px) {
    .flex-container {
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
    }
}
